<table>
    <tr>
        <th>Name</th>
        <th>Hostname</th>
    </tr>
    <tr>
        <% for shop in @shops %>
            <td><%= shop.name %></td>
            <td><%= link_to shop.hostname, "http://#{shop.hostname}/" %></td>
        <% end %>
    </tr>
</table>
